APP_DEBUG=true
APP_ENV=local
APP_FALLBACK_LOCALE=
APP_KEY=
APP_LOCALE=
APP_NAME=Laravel
APP_TIMEZONE=
APP_URL=http://localhost

AWS_ACCESS_KEY_ID=
AWS_BUCKET=
AWS_DEFAULT_REGION=us-east-1
AWS_SECRET_ACCESS_KEY=
AWS_USE_PATH_STYLE_ENDPOINT=false

BROADCAST_DRIVER=

CACHE_DRIVER=

DB_CONNECTION=sqlite
DB_DATABASE=
DB_HOST=
DB_PASSWORD=
DB_PORT=
DB_USERNAME=

FILESYSTEM_DISK=local
FIREBASE_CREDENTIALS_JSON=

JWT_SECRET=

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"
MAIL_HOST=smtp-relay.brevo.com
MAIL_MAILER=smtp
MAIL_PASSWORD=
MAIL_PORT=587
MAIL_USERNAME=

MEMCACHED_HOST=127.0.0.1

PUSHER_APP_CLUSTER=
PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=
PUSHER_SCHEME=

QUEUE_CONNECTION=database

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

SESSION_DRIVER=database
SESSION_LIFETIME=120

URL_IA=

VITE_BASE_URL=
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"

RESEND_KEY=
